body{
margin:0;
font-family:Arial;
background:#08161f;
color:white;
}

/* NAVBAR */

header{
background:#07151f;
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 40px;
position:sticky;
top:0;
box-shadow:0 0 20px black;
}

.logo{
display:flex;
align-items:center;
gap:15px;
text-decoration:none;
color:white;
}

.logo img{
height:50px;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0px);}
50%{transform:translateY(-5px);}
100%{transform:translateY(0px);}
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
font-weight:bold;
position:relative;
}

nav a::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:#00ffc8;
left:0;
bottom:-5px;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

nav a:hover{
color:#00ffc8;
}

.discord{
background:#5865F2;
padding:8px 15px;
border-radius:8px;
}

.discord:hover{
transform:scale(1.1);
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#0f766e,#1e3a8a);
}

.hero h2{
font-size:48px;
}

.hero p{
max-width:600px;
margin:auto;
margin-top:20px;
}

.joinbtn{
display:inline-block;
margin-top:30px;
padding:15px 30px;
background:#00ffc8;
color:black;
font-weight:bold;
text-decoration:none;
border-radius:8px;
transition:0.3s;
}

.joinbtn:hover{
transform:scale(1.1);
box-shadow:0 0 20px #00ffc8;
}

/* JOBS */

.jobs{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
flex-wrap:wrap;
}

.card{
background:#102b3c;
padding:30px;
border-radius:12px;
width:230px;
text-align:center;
transition:0.3s;
}

.card img{
height:70px;
margin-bottom:10px;
}

.card:hover{
transform:translateY(-10px) scale(1.05);
background:#163c55;
box-shadow:0 0 20px #00ffc8;
}

.card a{
display:inline-block;
margin-top:15px;
color:#00ffc8;
text-decoration:none;
}

footer{
text-align:center;
padding:20px;
background:#07151f;
}

.footer-credit a {
    color: #005cc8;          /* linkkleur veranderd naar blauw */
    text-decoration: none;
    transition: 0.2s;
}

.footer-credit a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px #005cc8; /* hover glow ook blauw */
}
